<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--구분용 이름-->
<mapper namespace="board">
<!--    dto 필드와 db 테이블 필드 이름을 맵핑하기-->
    <resultMap id="BoardResultMap" type="com.koreait.mvc2.dto.BoardDTO">
        <id property="idx" column="idx"></id>
        <result property="title" column="title"></result>
        <result property="content" column="content"></result>
        <result property="userId" column="user_id"></result>
        <result property="regDate" column="regdate"></result>
        <result property="viewCount" column="view_count"></result>
    </resultMap>

<!--    id는 임의로 지어주기. dao에서 id로 찾을거임 -->
<!--    parameterType: 전달 할 파라미터: 우리는 dto전달할 거임 -->
<!--    파라미터에서 꺼낼 정보들 -> #변수이름 으로 접근-->
<!--    태그이름은 CRUD 가 존재-->
<!--    파라미터로 넣어주는 값은 넣어주는 "변수명", "DTO 필드이름" 상관없음-->
    <insert id="insertBoard" parameterType="com.koreait.mvc2.dto.BoardDTO">
        insert into board (user_id, title, content) values (#{userId}, #{title}, #{content})
    </insert>
<!--    전달: Map타입, 반환 BoardDTO 가 List에 담겨옴. 이때는 resultType은 BoardDTO -->
    <select id="getBoardList" parameterType="map" resultType="com.koreait.mvc2.dto.BoardDTO">
        select idx, title, content, user_id AS userId, regdate as regDate, view_count As viewCount from board
        order by idx desc
        limit #{start}, ${pageSize}
    </select>
    <select id="getTotalCount" resultType="int">
        select count(idx) from board
    </select>
<!--   resultType 대신에 resultMap으로 쓰고 매핑한 id 사용하면, 결과를 맞게 받을 수 있다.  -->
    <select id="getBoard" parameterType="int" resultMap="BoardResultMap">
        select * from board where idx = #{idx}
    </select>
    <update id="increaseViewCount" parameterType="int">
        update board set view_count = view_count +1 where idx=#{idx}
    </update>
    <update id="updateBoard" parameterType="com.koreait.mvc2.dto.BoardDTO">
        update board set title=#{title}, content=#{content} where idx=#{idx}
    </update>
    <delete id="deleteBoard" parameterType="int">
        delete from board where idx=#{idx}
    </delete>
</mapper>